@import '../../styles/settings.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 4rem;
  background: darken($color-dark, 3%);
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

.navLinks li a,
.icon {
  text-decoration: none;
  color: $color-light;

  &:hover {
    color: $color-success;
  }
}

.navLinks li a {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;

  &.linkActive {
    color: $color-warning;
  }
}

.icon {
  font-size: 2rem;
}
